/* Shared color background utilities */
.RedBackground {
  @apply bg-red-70;
}

.OrangeBackground {
  @apply bg-orange-70;
}

.YellowBackground {
  @apply bg-yellow-70;
}

.YellowBackground80 {
  @apply bg-yellow-80;
}

.GreenBackground {
  @apply bg-green-70;
}

.AcquaBackground {
  @apply bg-acqua-70;
}

.AcquaBackground100 {
  @apply bg-acqua-100;
}

.LightBlueBackground {
  @apply bg-lightBlue-70;
}

.DarkBlueBackground {
  @apply bg-darkBlue-70;
}

.IndigoBackground {
  @apply bg-indigo-70;
}

.GrayBackground {
  @apply bg-gray-70;
}

/* Shared color foreground utilities */
.RedForeground {
  @apply text-red-70 !important;
}

.OrangeForeground {
  @apply text-orange-70 !important;
}

.YellowForeground {
  @apply text-yellow-70 !important;
}

.YellowForeground80 {
  @apply text-yellow-80 !important;
}

.GreenForeground {
  @apply text-green-70 !important;
}

.AcquaForeground {
  @apply text-acqua-70 !important;
}

.AcquaForeground100 {
  @apply text-acqua-100 !important;
}

.LightBlueForeground {
  @apply text-lightBlue-70 !important;
}

.DarkBlueForeground {
  @apply text-darkBlue-70 !important;
}

.IndigoForeground {
  @apply text-indigo-70 !important;
}

.GrayForeground {
  @apply text-gray-70 !important;
}

/* Shared color foreground utilities without !important (for navItem) */
.RedForegroundNormal {
  @apply text-red-70;
}

.OrangeForegroundNormal {
  @apply text-orange-70;
}

.YellowForegroundNormal {
  @apply text-yellow-70;
}

.YellowForegroundNormal80 {
  @apply text-yellow-80;
}

.GreenForegroundNormal {
  @apply text-green-70;
}

.AcquaForegroundNormal {
  @apply text-acqua-70;
}

.AcquaForegroundNormal100 {
  @apply text-acqua-100;
}

.LightBlueForegroundNormal {
  @apply text-lightBlue-70;
}

.DarkBlueForegroundNormal {
  @apply text-darkBlue-70;
}

.IndigoForegroundNormal {
  @apply text-indigo-70;
}

.GrayForegroundNormal {
  @apply text-gray-70;
}

.RedHighlight em {
  @apply border-b-red-70;
}

.OrangeHighlight em {
  @apply border-b-orange-70;
}

.YellowHighlight em {
  @apply border-b-yellow-70;
}

.YellowHighlight80 em {
  @apply border-b-yellow-80;
}

.GreenHighlight em {
  @apply border-b-green-70;
}

.AcquaHighlight em {
  @apply border-b-acqua-70;
}

.AcquaHighlight100 em {
  @apply border-b-acqua-100;
}

.LightBlueHighlight em {
  @apply border-b-lightBlue-70;
}

.DarkBlueHighlight em {
  @apply border-b-darkBlue-70;
}

.IndigoHighlight em {
  @apply border-b-indigo-70;
}

.GrayHighlight em {
  @apply border-b-gray-70;
}

/**
before: streamlit theme
after: javelit theme

color 1 - get started
before:  orange-70
after:  red-70

color 2 - develop
before: indigo-70
after: bg-yellow-80 --> yellow-80

color 3 - deploy
before: lightBlue-70
after:bg-green-70


color 4 - kb
before: darkBlue-70
after: acqua-100

*/
